head{
  width: 1120px;
  padding: 64px;
}
body{
  width: 1120px;
  padding: 64px;
}
.container{
  width: 1120px;
  padding: 64px;
 }
 h1{
  color: red;
 }
 h2{
   color: black;
}
h3{
  color: #ff7f50;
} 
.azul {
  color: blue;
}
.roxo{
  color: #591B98;
}
.rosa{
  color: #E5245E;
}
.laranja{
  color: #E95E10;
}
.paragrafo{
  text-align: center;
}
.footer {
  color: #f0e8c2;
  text-align: center;
  padding-bottom: 48px;
}